$body-bg: #8cb9ee;
$body-bg2: #f3ebe4;
$second-bg: #381463;
$main-color: #fd562a;
$main-color-hover: #de3700;
$txt-color: #000;
$txt-second-color: #757474;
$white: #fff;
$black: #000;
$text-color: #fff;
// $background-color: #d7e8fd;
$background-color: radial-gradient(#45278b, #2e335a);
$background-color2: #8cb9ee;

$primary: #ffffff;
$secondary: #ebebf599;
$tertiary: #ebebf54d;
$quaternary: #ebebf52e;
$solid1: #48319d;
$solid2: #1f1d47;
$solid3: #c427fb;
$solid4: #e0d9ff;

// #345ea8;

$font-main: "Comic sans MS";
$font-second: "Roboto";

$bg-item-1: #7153d9;
$bg-item-2: #7153d9;
$bg-item-3: #4c22e1;

$header-height: 120px;
$header-shrink-height: 90px;

$mobile-width: 580px;
$mobile-width1: 767px;
$tablet-width: 1024px;
$desktop-width: 1200px;
$desktop-1350: 1350px;
$desktop-1500: 1500px;
$desktop-1900: 1900px;

$box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
$bg-overlay: rgba(0, 0, 0, 0.5);
